@media only screen and (max-width : 1279px) {
  .contain {
    max-width: 970px
  }    
  .search__form {
    width: 224px;
  }
  .search__form--min {
    width: 125px;
  }
  .nav__item {
    padding-bottom: 22px;
  }
  .nav__link,
  .subnav__link,
  .sub-subnav__link {
    font-size: 16px;
  }
  .subnav__list {
    top: 41px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }

  .col-mnu {
    position: relative;
    margin-top: -77px;
  }

  .subnav__list {
    position: static;    
    background-color: #646463;
  }

.nav__link {
  padding: 15px 15px 15px 29px;
  display: inline-block;
}

.subnav__item--active {
  background-color: #494949;
  &.active {
   background-color: #AB101B; 
  }  
}

.subnav__link {
  &:hover {
    background: none;
  }
}
.subnav__link--has-arrow {
  
}

  .nav__item {
    padding-bottom: 0;    
  }

  .sub-subnav__list {
    position: static;
    transform: translate(0%, 0%);
  }

  .top-mnu {
    display: none;
    position: absolute;
    right: 0;
    top: 48px;
    margin-top: 0;    
    z-index: 21;
    background-color: #FFF;
    min-width: 280px;    
    padding: 0px;    
    min-height: 100px;
  }
  .nav__link, .subnav__link, .sub-subnav__link {
    font-size: 20px;
  }
  .hidden-mnu {
    display: block;      
    position: relative;
    z-index: 11;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .toggle-mnu {
    display: block; 
    text-align: center;
    line-height: 48px;
    display: block;
    width: 19px;
    height: 9px;
    margin: 0;      
    position: absolute;
    right: 0;
    top: 20px;
  }
  .toggle-mnu:focus {
    outline: none;
  }
  .toggle-mnu span {
    position: relative;
    display: block;  
    transition: all 0.3s;    
    backface-visibility: hidden;
    width: 19px;
    height: 3px;   
    background: #000 
    
  }
  .toggle-mnu span {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 19px;
      height: 3px;   
      background: #000;
      transition: all 0.3s;    
      backface-visibility: hidden;             
      border-radius: 1px;
    }
  }
  .toggle-mnu span:after {
    top: 3px;     
  }
  .toggle-mnu span:before {

  }

  .toggle-mnu {      
    span {
      background-color: transparent;
    }
  }


  .toggle-mnu.on span:before    {
    transform: rotate(45deg) translate(5px, 5px);
    top: -6px;
  }
  .toggle-mnu.on span:after    {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 13px;
  }
  .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  .header__top-inner {  
    align-items: flex-start;
  }
  .header__logo {
    margin-top: 0;
  }
  .header__info {  
    flex-wrap: wrap;          
  }
  .header__right {  

  }
  .header__right-top {

  }
  
  .header__phone {

  }
  .header__actions {  
    margin-right: 40px;
  }
  .header__top {
    padding: 15px 0;
  }
  .search__form {
    order: 100;
    margin-top: 15px;
    max-width: 100%;  
    flex-grow: 1;
    margin-left: 0;
  }
  .header__right {
    padding-left: 31px;
  }
  .header__time {
    display: none;
  }
  .header__top--fix {
    .header__socials {
      margin-right: 5px;
    }
   .header__info {     
           justify-content: flex-end;
   }
   .header__phone {
     margin-left: 20px;
   }
   .header__actions {
     margin-left: 20px;
   }   
   .col-mnu {
     margin-top: -62px;
   }
  }  
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }
  .header__actions {
    order: -1;
  }
  .header__socials {
    order: -2;
    margin-right: 15px;    
  }
  .header__phone {
    order: 1;
  }  
  .col-mnu {
    margin-top: -78px;
  }
  .search__form {
    margin-left: 15px;
  }
  .header__phone {
    margin-top: 20px;
  }
}      

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
    .header__logo {
    width: 85px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__socials {
    display: none;
  }
  .header__actions {
    padding-left: 0;
    &:before {
      display: none;
    }    
  }
  .header__btn {
    margin-left: 24px;
  }

}



@media only screen and (max-width : 480px) {
.header__right {
  padding-left: 20px;
}
.header__logo {
  width: 105px;
}
.header__actions {
  order: 1;
  margin-top: 15px;
  width: 100%;

          justify-content: flex-end;
}
.header__phone {
  margin-top: 0;
}
.col-mnu {
  margin-top: -22px;
}
.top-mnu {
  top: 43px;
}
.search__form {
  width: auto;
  display: none;
}
.header__actions {
  margin-left: 0;
}
.header__actions {
  margin-right: 0;
}
.header__phone {
  margin-right: 35px;
}
.header__top--fix .col-mnu {
  margin-top: -23px;
}
.header__top--fix .header__actions {
  margin-left: 0;
}
.header__top--fix .header__phone {
  margin-left: 0;
}
}

@media only screen and (max-width : 375px) {

}

@media only screen and (max-width : 360px) {

}

@media only screen and (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}


@media only screen and (min-width : 1080px) {
  .main-mnu {
    display: block !important;
  } 

  .hidden-mnu {
    display: none;
  }
} 


